.rpsb-menu-item-content,
.rpsb-submenu-title {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.selected-article {
  background-color: #f0f0f0;
  font-weight: bold;
}

.search-box {
  margin-bottom: 20px;
}

.search-box input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
